#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
}

.dot-red {
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.dot-yellow {
    height: 12px;
    width: 12px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.fc {
    font-size: 0.85em !important;
}

.btn {
    font-size: 0.9em;
}

.form-control {
    font-size: 1.1em !important;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

@media all and (min-width: 600px) {
    .dot-red {
        height: 24px;
        width: 24px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
    }

    .dot-yellow {
        height: 24px;
        width: 24px;
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
    }

    .dot-green {
        height: 24px;
        width: 24px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }

    .fc {
        font-size: 1em !important;
    }

    .form-control {
        font-size: 1.1em !important;
    }

    .btn {
        font-size: 1em;
    }
}
